<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Леськів Ірина, Викладач по вокалу в ДШМ № 5 м. Львова. ">
    <meta name="Keywords"
          content="Вокал, співи, вчитель, музична школа, Львів, викладач з вокалу.">
    <title>Леськів Ірина, викладач по вокалу.</title>
    <!--=======================icon======================-->
    <link rel="shortcut icon" href="../img/icon.jpg" type="image/x-icon">
    <!--==========================google-fonts===========================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <!-- ====================link======================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>
<div class="wrapper-content">
    <div class="border__page-1"></div>
    <div class="border__page-2"></div>
    <div class="border__page-3"></div>
    <div class="border__page-4"></div>
    <div class="border__page-5"></div>
    <header class="header">
        <div class="wrapper">
            <div class="header__container">
                <!--            ==============================================menu=================-->
                <a href="../index.html"> <h1>Леськів Ірина</h1></a>
                <!--====================================menu-end============================================================= -->
                <nav>
                    <div class="navbar">
                        <div class="overflow-button bx-menu">
                            <a>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </a>
                        </div>
                        <div class="nav-links">
<!--                            <div class="sidebar-logo">-->
<!--                                <h2 class="logo-name"><a href="../index.html">Леськів Ірина</a></h2>-->
<!--                            </div>-->
                            <ul class="links">
                                <li><a href="../index.html">Головна</a></li>
                                <li><a href="../templates/list_music.html">Вокальна скарбничка</a></li>
                                <li>
                                    <a href="#">Учні <i class="bi bi-chevron-down htmlcss-arrow "></i></a>
                                    <ul class="htmlCss-sub-menu sub-menu">
                                        <li><a href="../templates/students.html">Мої учні</a></li>
                                    </ul>
                                </li>
<!--                                <li><a>Концерти</a></li>-->
                                <li class="contact-display-none"><a href="#contact">Контакти</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--====================================menu-end============================================================= -->
            </div>
        </div>
    </header>
    <!--    ==============================================-->
    <main class="page">
        <div class="wrapper">
            <section class="tabbed-window-list section__margin-top">
                <section class="content-pane">
                    <h2 class="text-center">Мої випускники</h2>
                    <div class="tab-content tab-content-active">
                        <div class="graduate__box box-shadow">
                            <div class="border-circle"><img src="../img/gradueted/Spodaryk.jpeg" alt=""></div>
                            <div class="graduate__box-text"><p></p>
                                <h2>Сподарик (Павлишин) Ірина</h2>
                                <p>На навчання в клас Ірини Леськів прийшла у 2000 році.
                                    Навчалася вокалу до 2005 року. За цей період брала участь у багатьох конкурсах та
                                    концертах. Також була солісткою ВІА "Джерела любові" під керівництвом Андріяна та
                                    Ірини
                                    Леськів.
                                </p>
                                <p> З 2005 по 2009 була студенткою Львівського державного музичного училища ім.
                                    С.
                                    Людкевича, вокального відділу, клас вокалу Алли Тюппи. У 2009 вступила у ЛНУ ім. І.
                                    Франка, на факультет культури і мистецтв, кафедра музичного мистецтва, клас
                                    професора та
                                    народного артиста України Богдана Базиликута. В цьому ж навчальному закладі отримала
                                    ступінь магістра вокальних наук та музичного мистецтва у 2014 році. З 2010 року
                                    працювала музичним керівником у дошкільному навчальному закладі "Добрий Стар", що
                                    при
                                    храмі Воскресіння Христового УГКЦ, м. Львів.</p>
                                <p>З 2011 року почала працювати у Дитячій
                                    школі мистецтв № 5 м. Львова викладачем по класу вокалу, де працюю і зараз.</p>
                                <p><a href="https://www.facebook.com/irusicka"><i
                                    class="bi bi-facebook"></i></a></p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="graduate__box box-shadow">
                            <div class="border-circle"><img src="../img/gradueted/Snigurova.jpg" alt=""></div>
                            <div class="graduate__box-text"><p></p>
                                <h2>Вікторія Снігурова</h2>
                                <p>
                                    Випускниця ЛДШМ № 5
                                    Здобула дві вищі освіти: ЛНУ ім. І. Франка (спеціальність: театрознавство) та ЛНМА
                                    ім. Миколи Лисенка (спеціальність: сольний спів)
                                </p>
                                <p> З 2019 створила кавер-гурт PUSH UP та випустила авторські сингли, які можна почути на радіостанціях
                                    Викладач вокалу в мистецькому центрі Ilkiv School</p>
                                <p><a href="https://www.facebook.com/messages/t/100003003755278"><i
                                    class="bi bi-facebook"></i></a></p>

                            </div>
                        </div>
                    </div>

<!--                    <div class="tab-content">-->
<!--                        <h2>6</h2>-->

<!--                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quisquam minus eaque debitis-->
<!--                            voluptates. Veniam vitae esse quam saepe maiores provident ea? Itaque dolores ipsam-->
<!--                            recusandae minus dolor. Sapiente quod quia, cumque nam minima ab.</p>-->
<!--                    </div>-->
                </section>

                <section class="tabs">
                    <div class="tab"><h2>1</h2></div>
                    <div class="tab"><h2>2</h2></div>
<!--                    <div class="tab"><h2>3</h2></div>-->
                    <!--                    <div class="tab"><h2>4</h2></div>-->
                    <!--                    <div class="tab"><h2>5</h2></div>-->
                    <!--                    <div class="tab"><h2>6</h2></div>-->
                </section>
            </section>
        </div>


    </main>
    <footer id="contact" class="section__margin-top">
        <div class="wrapper">
            <div class="footer flex">
                <div class="motto">
                    <h2>Девіз</h2>
                    <p>
                        «Cекрет життя полягає не в тому, щоб робити що ти любиш, а в тому, щоб любити те, що ти
                        робиш».</p>
                    <p>Андреа Бочеллі</p>
                </div>
                <div class="contacts">
                    <h2>Контакти</h2>
                    <div class="contacts__box"><i class="bi bi-phone"></i>
                        <p>+38 (097) 158-25-00</p></div>
                    <div class="contacts__box"><i class="bi bi-envelope-open"></i>
                        <p>leskiv-iryna.com.ua@gmail.com</p></div>
                    <div class="contacts__box"><i class="bi bi-geo-alt"></i>
                        <p>школа: м. Львів, вул. Хуторівка 28</p></div>
                </div>
            </div>
            <div class="copyright"><p>Copyright@ 2021 Leskiv Iryna</p></div>
        </div>
    </footer>
</div>


<!--main-style=========================================-->
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/studens.css">
<!--======================media======================-->
<link rel="stylesheet" href="../css/media.css">
<!--=================script=====================-->
<script src="../script/js.js"></script>
<script src="../script/burger.js"></script>
</body>
</html>



