<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Леськів Ірина, Викладач по вокалу в ДШМ № 5 м. Львова. ">
    <meta name="Keywords"
          content="Вокал, співи, вчитель, музична школа, Львів, викладач з вокалу.">
    <title>Учні Леськів Ірини</title>
    <!--=======================icon======================-->
    <link rel="shortcut icon" href="../img/icon.jpg" type="image/x-icon">
    <!--==========================google-fonts===========================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <!-- ====================link======================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>
<div class="wrapper-content">
    <div class="border__page-1"></div>
    <div class="border__page-2"></div>
    <div class="border__page-3"></div>
    <div class="border__page-4"></div>
    <div class="border__page-5"></div>
    <header class="header">
        <div class="wrapper">
            <div class="header__container">
                <!--            ==============================================menu=================-->
                <a href="../index.html"> <h1>Леськів Ірина</h1></a>
                <!--====================================menu-end============================================================= -->
                <nav>
                    <div class="navbar">
                        <div class="overflow-button bx-menu">
                            <a>
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </a>
                        </div>
                        <div class="nav-links">
<!--                            <div class="sidebar-logo">-->
<!--                                <h2 class="logo-name"><a href="../index.html">Леськів Ірина</a></h2>-->
<!--                            </div>-->
                            <ul class="links">
                                <li><a href="../index.html">Головна</a></li>
                                <li><a href="../templates/list_music.html">Вокальна скарбничка</a></li>
                                <li>
                                    <a>Учні <i class="bi bi-chevron-down htmlcss-arrow "></i></a>
                                    <ul class="htmlCss-sub-menu sub-menu">
                                        <li><a href="../templates/graduates.html">Мої випускники</a></li>
                                    </ul>
                                </li>
<!--                                <li><a>Концерти</a></li>-->
                                <li class="contact-display-none"><a href="#contact">Контакти</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!--====================================menu-end============================================================= -->
            </div>
        </div>
    </header>
    <!--    ==============================================-->
    <main class="page">
        <div class="wrapper">
            <section class="tabbed-window-list section__margin-top">
                <section class="content-pane">
                    <h2 class="text-center">Мої учні</h2>

                    <div class="tab-content tab-content-active">
                        <div class="my__students">
                            <div class="my__students-block-1">
                                <div>

                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student99.jpeg" alt="">
                                        <h2><i>Циганкова Поліна </i></h2>
                                        <p>(рік вступу - 2020)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student88.jpeg" alt="">
                                        <h2><i>Закалюжна Ірина</i></h2>
                                        <p> (рік вступу - 2016)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>

                                </div>
                            </div>
                            <div class="my__students-block-2">
                                <div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student66.jpeg" alt="">
                                        <h2><i>Боднар Вікторія</i></h2>
                                        <p>
                                          (рік вступу -  2019)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student55.jpeg" alt="">
                                        <h2><i>Чорна Анна - Марія </i></h2>
                                        <p>(рік вступу - 2017)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="my__students">
                            <div class="my__students-block-1">
                                <div>

                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student77.jpeg" alt="">
                                        <h2><i>Боднар Софія </i></h2>
                                        <p>(рік вступу - 2018)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student44.jpeg" alt="">
                                        <h2><i>Любенко Марта </i></h2>
                                        <p>(рік вступу - 2015)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>

                                </div>
                            </div>
                            <div class="my__students-block-2">
                                <div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student33.jpeg" alt="">
                                        <h2><i>Фізер Павло </i></h2>
                                        <p>(рік вступу - 2018)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student22.jpeg" alt="">
                                        <h2><i>Пециляк Ярина </i></h2>
                                        <p>(рік вступу - 2017)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="my__students">
                            <div class="my__students-block-1">
                                <div>

                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student12.jpeg" alt="">
                                        <h2><i>Мариняк Софія </i></h2>
                                        <p>(рік вступу - 2015)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student1.jpeg" alt="">
                                        <h2><i>Камінська Анастасія </i></h2>
                                        <p>(рік вступу - 2016)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>

                                </div>
                            </div>
                            <div class="my__students-block-2">
                                <div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student11.jpeg" alt="">
                                        <h2><i>Джуман Олена - Марія </i></h2>
                                        <p>(рік вступу - 2016)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                    <div class="my__students-box border-radius-4px  box-shadow">
                                        <img src="../img/students/student10.jpeg" alt="">
                                        <h2><i>Кривенко Каріна</i></h2>
                                        <p>(рік вступу - 2017)<br>
                                            Викладач - Леськів Ірина</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>

                <section class="tabs">
                    <div class="tab"><h2>1</h2></div>
                    <div class="tab"><h2>2</h2></div>
                    <div class="tab"><h2>3</h2></div>
<!--                    <div class="tab"><h2>4</h2></div>-->
<!--                    <div class="tab"><h2>5</h2></div>-->
<!--                    <div class="tab"><h2>6</h2></div>-->
                </section>
            </section>
        </div>


    </main>
    <footer id="contact" class="section__margin-top">
        <div class="wrapper">
            <div class="footer flex">
                <div class="motto">
                    <h2>Девіз</h2>
                    <p>
                        «Cекрет життя полягає не в тому, щоб робити що ти любиш, а в тому, щоб любити те, що ти
                        робиш».</p>
                    <p>Андреа Бочеллі</p>
                </div>
                <div class="contacts">
                    <h2>Контакти</h2>
                    <div class="contacts__box"><i class="bi bi-phone"></i>
                        <p>+38 (097) 158-25-00</p></div>
                    <div class="contacts__box"><i class="bi bi-envelope-open"></i>
                        <p>Leskivira2021@gmail.com</p></div>
                    <div class="contacts__box"><i class="bi bi-geo-alt"></i>
                        <p>школа: м. Львів, вул. Хуторівка 28</p></div>
                </div>
            </div>
            <div class="copyright"><p>Copyright@ 2021 Leskiv Iryna</p></div>
        </div>
    </footer>
</div>


<!--main-style=========================================-->
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/studens.css">
<!--======================media======================-->
<link rel="stylesheet" href="../css/media.css">
<!--=================script=====================-->
<script src="../script/js.js"></script>
</body>
</html>



